<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{{relativize page.component.url}}}">SUSE Multi-Linux Manager 5.1 API</a>
    </li>
    <li>{{page.title}}</li>
  </ul>
</nav>
