<shared-header
  product-id="SUSE Multi-Linux Manager"
  version="{{page.attributes.productnumber}}"
  docs-url="https://documentation.suse.com/multi-linux-manager/"
  search-url="https://documentation.suse.com/search/"
>
  {{#if env.SITE_SEARCH_PROVIDER}}
  <div slot="search" id="search-field" class="field">
    <label class="visual-search-label" for="search-input" aria-label="Search">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
    <input label="Search" aria-label="Search" id="search-input" type="text" placeholder="Search the docs" {{#if page.home}}autofocus{{/if}}>
  </div>
  {{/if}}
</shared-header>
