<div class="toolbar" role="navigation">
  {{> nav-toggle}}
  <a href="https://documentation.suse.com/multi-linux-manager/5.1/" class="home-link" aria-label="SUSE Multi-Linux Manager 5.1 documentation home"></a>
  <span class="toolbar-sep" aria-hidden="true">|</span>
  {{> breadcrumbs}}
  {{> page-versions}}
  {{#if env.SITE_SEARCH_PROVIDER}}
  <div class="toolbar-search">
    <input id="search-input" type="text" placeholder="Search the docs&hellip;" aria-label="Search">
  </div>
  {{/if}}
</div>
