<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="https://www.uyuni-project.org/" aria-label="Uyuni Home">
        <img src="{{uiRootPath}}/img/uyuni_logo.png" alt="" style="height:1.2rem; vertical-align:middle;"/>
      </a>
    </li>
    <li>
      <a href="https://www.uyuni-project.org/uyuni-docs-api/" class="book-link">
        <span class="book-text">Uyuni {{page.attributes.productnumber}}</span>
      </a>
    </li>
    <li>
      <span class="book-text">API Guide</span>
    </li>
  </ul>
</nav>
