<div class="toolbar" role="navigation">
  {{> nav-toggle}}
  <a href="https://www.uyuni-project.org/" class="home-link" aria-label="Uyuni project home"></a>
  <span class="toolbar-sep" aria-hidden="true">|</span>
  {{> breadcrumbs}}
  {{> page-versions}}
  {{#if env.SITE_SEARCH_PROVIDER}}
  <div class="toolbar-search">
    <div id="search-field" class="field">
      <input id="search-input" type="text" placeholder="Search the docs&hellip;" aria-label="Search"{{#if page.home}} autofocus{{/if}}>
    </div>
  </div>
  {{/if}}
</div>
